html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fafafa;
}

.navbar-fixed {
  top: 0 !important;
}

#resumeicon {
  margin-top: 15px !important;
  margin-left: 25px !important;
  height: 30px !important;
  width: 30px !important;
}

#intro {
  height: 100vh !important;
}

ul li {
  color: black;
}

#about {
  color: black;
}

.navMenuItems {
  color: black;
}

.section-contact .fa-4x {
  padding: 20px;
  margin: 20px 50px;
}

#contactName {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 100px;
  height: 100px;
  background: teal;
}

.determinate {
  transition: width 1s ease-in-out !important;
  animation: grow 2s !important;
}

#getStarted {
  animation-delay: 2000ms;
}

@keyframes grow {
  from {
    width: 0;
  }
}

#startButton {
  padding-top: 50px !important;
}

#introHeader {
  margin-top: 50px !important;
}
.aboutDp {
  height: 400px !important;
  width: 415px !important;
  margin-bottom: 30px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.section {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.li-skills {
  padding: 15px;
}

#facebookLink,
#instagramLink,
#githubLink {
  font-size: 20px !important;
  font-family: Arial !important;
}

#edit-intro-form,
#add-education-form,
#workform,
#add-orgs-form,
#skillsForm,
#edit-about-form,
#edit-facebook-form,
#edit-instagram-form,
#edit-github-form {
  display: none;
}
