* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Victor Mono', monospace
}

body{
    background-color: #2d3142;
}

.navbar{
    background-color: #2d3142;
}

.navbar-brand{
    margin-left: 36px;
}

.navbar-brand span{
    color: #ef8354;
}

.collapse{
    padding: 1rem;
}

.navbar-nav .nav-item .nav-link{
    color: #ef8354;
}

.navbar-nav .nav-item .nav-link.active{
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link{
    margin-right: 20px;
}

.col.about{
    padding-top: 25vh;
}

#Iam{
    color: #ef8354;
    font-size: 25px;
}

#headName{
    color: #ffffff;
    font-size: 75px;
    margin-top: 10px;
}

#desc{
    color: #728cb9;
    font-size: 20px;
    margin-top: 20px;
}

.start{
    margin-top: 10px;
}

.educ.container{
    padding-top: 15vh;
}

.sectionHeader{
    color: #ef8354;
}

.educ.container h1{
    text-align: center;
}

.educ.row{
    margin-top: 50px;
}

.educ.card{
    background-color: #4f5d75;
}

.educ.card .list-group-item{
    background-color: #4f5d75;
    color: #ffffff;
}

.educ.card-body{
    margin-bottom: 10px;
}

.educ.card-body span{
    color: #ef8354;
}

.educ.card-title{
    color:#ffffff;
    font-weight: 700;
}

.educ.card-subtitle{
    color:#bfc0c0;
}