* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Victor Mono', monospace
}

body{
    background-color: #2d3142;
}

.navbar{
    background-color: #2d3142;
}

.navbar-brand{
    margin-left: 36px;
}

.navbar-brand span{
    color: #ef8354;
}

.collapse{
    padding: 1rem;
}

.navbar-nav .nav-item .nav-link{
    color: #ef8354;
}

.navbar-nav .nav-item .nav-link.active{
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link{
    margin-right: 20px;
}

.col.about{
    padding-top: 25vh;
}

#Iam{
    color: #ef8354;
    font-size: 25px;
}

#headName{
    color: #ffffff;
    font-size: 75px;
    margin-top: 10px;
}

#desc{
    color: #728cb9;
    font-size: 20px;
    margin-top: 20px;
}

.start{
    margin-top: 10px;
}

.section{
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .section{
        height: auto;
    }
  }

/* Education */
.educ.container{
    padding-top: 15vh;
}

.sectionHeader{
    color: #ef8354;
}

.educ.container h1{
    text-align: center;
}

.educ.row{
    margin-top: 50px;
}

/* Background */
.back.container{
    padding-top: 15vh;
}

.back.container h1{
    text-align: center;
}

.back.container h2{
    color:#728cb9;
}

.desc{
    color: #ffffff;
    line-height: 2;
}

.desc span{
    color: #ef8354;
}

#certificate{
    color:#ef8354;
}

.dev.container{
    text-align: justify;
}

.mng.container{
    text-align: justify;
}

.ops.container{
    text-align: justify;
}

.dev.row{
    margin-top: 50px;
}

.mng.row{
    margin-top: 25px;
}

.ops.row{
    margin-top: 25px;
}

/* Affiliations */
.affi.container{
    padding-top: 15vh;
}

.affi.container h1{
    text-align: center;
}

.org{
    color:#ef8354;
    margin-top: 50px;
    font-size: larger;
}

.position{
    color: #728cb9;
}

.year{
    color: #728cb9;
}

.org_desc{
    color:#ffffff;
    text-align: justify;
    margin-top: 5px;
}

/* Certificates */
.cert.container{
    padding-top: 15vh;
}

.cert.container h1{
    text-align: center;
}