* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* font-family: 'Victor Mono', monospace */
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;

}

body{
    background-color: #0D1B2A;
}

.navbar{
    background-color: #415A77;
}

.educ.section, .affi.section{
    background-color: #1B263B;
}

.navbar-brand{
    margin-left: 36px;
}

.navbar-brand span{
    color: #f0e6d3;
}

.collapse{
    padding: 1rem;
}

.navbar-nav .nav-item .nav-link{
    color: #f0e6d3;
}

.navbar-nav .nav-item .nav-link.active{
    color: #f0e6d3;
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link{
    margin-right: 20px;
}

.col.about{
    padding-top: 30vh;
}

#Iam{
    color: #778DA9;
    font-size: 25px;
}

#headName{
    color: #f0e6d3;
    font-size: 75px;
    margin-top: 10px;
    font-weight: 700;
}

#desc{
    color: #cacac7;
    font-size: 20px;
    margin-top: 20px;
}

.start{
    color: white;
    background-color: #778DA9;
    border-color: #778DA9;
    margin-top: 20px;
}

.about.section, .educ.section, .back.section, .affi.section, .cert.section{
    height: 100vh;
    /* scroll-snap-align: start; */
}

#whole{
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; */
}

/* Education */
.educ.container{
    padding-top: 20vh;
}

.sectionHeader{
    color: #f0e6d3;
}

.educ.container h1{
    text-align: center;
}

.educ.card{
    margin-bottom: 20px;
    padding: 5px;
    background: #0D1B2A;
    width: 600px;
}

.back.card{
    margin-bottom: 25px;
    padding: 5px;
    background: #1B263B;
    width: 600px;
}

.affi.card{
    margin-bottom: 25px;
    padding: 5px;
    background: #0D1B2A;
    width: auto;
}

.cert.card{
    margin-bottom: 25px;
    padding: 5px;
    background: #2d6a4f;
    width: auto;
}

.educ.container .row, .back.container .row{
    justify-content: center;
}

.educ.row{
    /* margin-top: 150px; */
}

/* Background */
.back.container{
    padding-top: 15vh;
}

.back.container h1{
    text-align: center;
}

.back.container h2{
    color:#f0e6d3;
}

.desc{
    color: #f0e6d3;
    line-height: 2;
}

.desc span{
    color: #778DA9;
}

#certificate, .contact, .contact span{
    color:#5c7ca4;
}

.dev.container{
    text-align: justify;
}

.mng.container{
    text-align: justify;
}

.ops.container{
    text-align: justify;
}

.dev.row{
    margin-top: 50px;
}

.mng.row{
    margin-top: 25px;
}

.ops.row{
    margin-top: 25px;
}

/* Affiliations */
.affi.container{
    padding-top: 15vh;
}

.affi.container h1{
    text-align: center;
    margin-bottom: 50px;
}

.org{
    color:#f0e6d3;
    margin-top: 50px;
    font-size: large;
}

.position{
    color: #778DA9;
}

.year{
    color: #778DA9;
}

.org_desc{
    color:#f0e6d3;
    text-align: justify;
    margin-top: 5px;
}

/* Certificates */
.cert.container{
    padding-top: 20vh;
}

.cert.container h1{
    text-align: center;
}

.cert.container .card{
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .about.section, .educ.section, .back.section, .affi.section, .cert.section{
        height: auto;
    }

    .section h1{
        font-size: 20px;
    }

    .educ.card, .back.card, .affi.card, .cert.card{
        width: auto;
    }

    .educ.container, .back.container, .affi.container, .cert.container{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}